"*":
  "atom-html-preview":
    scrollToCursor: true
  core:
    automaticallyUpdate: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  "linter-gcc":
    gccIncludePaths: "-"
    gccLintOnTheFly: true
  "linter-shellcheck":
    shellcheckExecutablePath: "~/bin/shellcheck"
  welcome:
    showOnStartup: false
