"*":
  "atom-html-preview":
    scrollToCursor: true
  core:
    automaticallyUpdate: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  "linter-gcc":
    gccErrorString: "erreur"
    gccIncludePaths: "-"
    gccLintOnTheFly: true
    gccWarningString: "attention"
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "~/.cache/the_dark_side/shellcheck"
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  welcome:
    showOnStartup: false
